<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<display-name>EstimatesJS</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/dbestimate?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>password</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<filter>
		<filter-name>LoginChecker</filter-name>
		<filter-class>it.polimi.tiw.filters.LoginChecker</filter-class>
	</filter>
	<filter>
		<filter-name>CChecker</filter-name>
		<filter-class>it.polimi.tiw.filters.CChecker</filter-class>
	</filter>
	<filter>
		<filter-name>WChecker</filter-name>
		<filter-class>it.polimi.tiw.filters.WChecker</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginChecker</filter-name>
		<url-pattern>/GetClientEstimates</url-pattern>
		<url-pattern>/GetEstimateClient</url-pattern>
		<url-pattern>/GetEstimateDetails</url-pattern>
		<url-pattern>/GetEstimateOptions</url-pattern>
		<url-pattern>/GetNaEstimates</url-pattern>
		<url-pattern>/GetProductOptions</url-pattern>
		<url-pattern>/GetProducts</url-pattern>
		<url-pattern>/GetWorkerEstimates</url-pattern>
		<url-pattern>/InsertPrice</url-pattern>
		<url-pattern>/NewEstimate</url-pattern>
		<url-pattern>/Logout</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CChecker</filter-name>
		<url-pattern>/GetClientEstimates</url-pattern>
		<url-pattern>/GetProductOptions</url-pattern>
		<url-pattern>/GetProducts</url-pattern>
		<url-pattern>/NewEstimate</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>WChecker</filter-name>
		<url-pattern>/GetNaEstimates</url-pattern>
		<url-pattern>/GetWorkerEstimates</url-pattern>
		<url-pattern>/InsertPrice</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>